{% extends 'index/index.html' %}
{% load static %}

{% block Encabezado %}
<h1>Tu cuenta</h1>
{% endblock Encabezado %}

{% block PruebaTemplate %}

{% if mensaje %}
{{mensaje}}
{% endif %}



{% if request.user.avatar.imagen.url is not None%}
<img src="{{request.user.avatar.imagen.url}}" alt="imagen de perfil" class="rounded-circle rounded mx-auto d-block" height="150" width="150"> <br>
{% else %}
<img src="{% static 'assets\img\fondo.png' %}" alt="imagen de perfil" class="rounded-circle rounded mx-auto d-block" height="150" width="150"> <br>
{% endif %}

<h1 class="text-center">Formulario - Editar Perfil de {{request.user}}</h1>
 <form action="" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     <table>
        {{FormularioUser.as_table}}
     </table>
     <button>Guardar</button>
 </form>

{% endblock PruebaTemplate %}
