{% extends 'index\index.html' %}

{% block Encabezado %}
<h1>Registrate en Landfy</h1>
<span class="subheading">Registrate y comparte tus fotos con todo el mundo. Tomara menos de un minuto!</span>
{% endblock Encabezado %}


{% block Formulario %}
{% csrf_token %}
<h2 class="text-center">Registro</h2>
<form id="contactForm" data-sb-form-api-token="API_TOKEN" class="p-3" action="/formulario.html/" method="post">
  <div class="form-floating">
      <input class="form-control" id="name" type="text" placeholder="Ingresa tu nombre" name="Nombre"/>
      <label for="name">Nombre Completo</label>
  </div>
  <div class="form-floating">
      <input class="form-control" id="email" type="email" placeholder="Ingresa tu correo electronico" name="Email" />
      <label for="email">Correo electronico</label>
  </div>
  <div class="form-floating">
      <input class="form-control" id="password" type="password" placeholder="ingresa tu contraseña" data-sb-validations="required" name="Contraseña"/>
      <label for="password">Contraseña</label>
  </div>
  <br />
  <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Enviar</button>
</form>
{% endblock Formulario %}
