{% extends 'index/index.html' %}

{% block Encabezado %}
<h1>Publicaciones</h1>
<span class="subheading">Crea tus publicaciones y compartelas con el mundo</span>
{% endblock Encabezado %}


{% block PruebaTemplate %}

    Posteado por: <b>{{object.Autor}}</b>
    <br>
    <img src="{{object.Imagen.url}}" class="img-fluid img-thumbnail rounded mx-auto d-block" height="500" width="500"> 
    <br>
    <i>Creado el {{object.FechaDePublicacion | date:"d/m/y"}}</i>
    <br>
    {{object.Descripcion}}

{% endblock PruebaTemplate %}