{% extends 'index\index.html' %}

{% block Encabezado %}
<h1>Publicaciones</h1>
<span class="subheading">Crea tus publicaciones y compartelas con el mundo</span>
{% endblock Encabezado %}

{% block Formulario %}

{% if posts %}
<h2 class="text-center">Ultimas Publicaciones</h2>
<a href={% url 'posts_crear' %}>Crear Post</a>
{% for post in object_list %}
<li>
    {{post}}
    <a href={% url 'posts_editar' post.id %}>Editar</a>
    <a href={% url 'posts_borrar' post.id %}>Borrar</a>
    <a href={% url 'posts_detalle' post.id %}>Ver mas...</a>
</li>
{% endfor %}
{% else %}
<a href={% url 'posts_crear' %}>Crear Post</a>
<h3 class="text-center">No hay posts realizados todavia, vuelve pronto ;)</h3>
{% endif %}



{% endblock Formulario %}