{% extends 'index\index.html' %}

{% block Encabezado %}
<h1>Publicaciones</h1>
<span class="subheading">Crea tus publicaciones y compartelas con el mundo</span>
{% endblock Encabezado %}


{% block Formulario %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-center">Editar Post</h1>
        {{form.media}}
        {{form.as_p}}
<br>
    <input type="submit" placeholder="Editar" class="btn btn-primary d-flex m-auto">
</form>

{% endblock Formulario %}
