{% extends 'index/index.html' %}

{% block Encabezado %}
<h1>Publicaciones</h1>
<span class="subheading">Crea tus publicaciones y compartelas con el mundo</span>
{% endblock Encabezado %}

{% block PruebaTemplate %}
    
    <form action={% url 'posts_crear' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_p}}
        </table>
        <input type="submit" placeholder="Crear">
    </form>
{% endblock PruebaTemplate %}