{% extends 'index\index.html' %}

{% block Encabezado %}
<h1>Publicaciones</h1>
<span class="subheading">Crea tus publicaciones y compartelas con el mundo</span>
{% endblock Encabezado %}

{% block Funciones %}
<a href={% url 'crear_publicacion' %}>Crear publicacion</a>
{% endblock Funciones %}

{% block Formulario %}

<p> Todos las publicaciones:</p>
{% for publicaciones in publicaciones_listado %}

<li>
    {{publicaciones}}
    <a href= {% url 'update_publicacion' publicaciones.id %}>Editar</a>
    <a href= {% url 'borrar_publicacion' publicaciones.id %}>Borrar</a>
</li>

{% endfor %}
{% endblock Formulario %}
