{% extends 'index\index.html' %}

{% block Encabezado %}
<h1>Publicaciones</h1>
<span class="subheading">Crea tus publicaciones y compartelas con el mundo</span>
{% endblock Encabezado %}

{% block Publicaciones %}

<form action= {% url 'update_publicacion' publicacion.id %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-center">Actualiza la publicacion</h1>
    <table>
        {{formulario_ap.as_table}}
    </table>
<br>
    <input type="submit" placeholder="Actualizar">
</form>

{% endblock Publicaciones %}
