{% extends 'index/index.html' %}

{% load static %}

{% block Encabezado %}
<h1>Sobre Mi</h1>
<span class="subheading">Aprende un poco mas sobre quien soy</span>
{% endblock Encabezado %}


{% block About %}
<h1 class="text-center p-3">Sobre Mi</h1>
<img src=" ../static/assets/img/Yo2.jpeg" alt="Yo" height="300" width="300" class="img-fluid img-thumbnail rounded mx-auto d-block rounded-circle">
<p class="text-center p-3">Me llamo Ernesto Campos y soy un desarrollador de Software autodidacta de 17 años. 
    Soy de Cordoba-Argentina especificamente de Almafuerte, desde siempre me a gustado la tecnologia y todas las cosas locas que la rodean. Empece 
    a experimentar con la programacion a la corta edad de 14 años, pero se podria decir que lo agarre formalmente a los 16.
    Ademas de la programacion me gusta entrenarme en el gimnasio y siempre que tengo la oportunidad me gusta hacer senderismo y acampar en contacto
    con la naturaleza.  
</p>
{% endblock About %}


