{% extends 'index/index.html' %}

{% load static %}

{% block About %}
<h1 class="text-center p-3">Sobre Mi</h1>
<p class="text-center p-3">Me llamo Ernesto Campos y soy un desarrollador de Software autodidacta de 17 años. 
    Soy de Cordoba(Argentina), desde siempre me a gustado la tecnologia y todas las cosas locas que la rodean. Empece 
    a experimentar con la programacion a la corta edad de 14 años, pero se podria decir que lo agarre formalmente a los 16.
    Ademas de la programacion me gusta entrenarme en el gimnasio y tengo una increible pasion por el senderismo y acampar en contacto
    con la naturaleza.  
</p>
{% endblock About %}


